<!DOCTYPE html>
<html DOC>
<head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <title>Online Judge</title>
</head>
<body>
    {% if problems %}
        <ul>
        {% for problem in problems %}
            <li><a href="/problems/{{ problem.id }}/">{{ problem.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No problems are available.</p>
    {% endif %}
</body>
</html>
